<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-5">
            <form action="/signup" method="POST">
                {{#each errors}}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{text}}
                </div>
                {{/each}}
                <div class="form-group">
                    <label for="firstname" class="marginTop">Firstname</label>
                    <input type="text" name="firstname" value="{{firstname}}" id="firstname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" name="lastname" value="{{lastname}}" id="lastname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" name="email" value="{{email}}" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" value="{{password}}" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password2">Confirm password</label>
                    <input type="password" name="password2" value="{{password2}}" id="password2" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" style="background-color: #11999e ">Register</button>
                </div>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
<style>
    body {
        background-color: #fde2e2;
        color: #3b6978;
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }
</style>